* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a, a:hover, a:active, a:visited {
    color: black;
    margin: 0;
}


/* 
vermelho #de003e
azul #294c71 
*/
