#box-conteudo {
    display:flex;
    justify-content: center;
}

.container-title h3{
    background-color: #294c71;
    color: white;
    padding: 5px;
}

#box-conteudo aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#box-conteudo aside div.box-conteudo-aside {
    margin: 15px;
}

div.box-conteudo-aside li {
    padding: 5px;
}

#box-conteudo section {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#box-conteudo section article {
    width: 45%;
    margin: 2%;
    min-width: 219px;
}

article .conteudo-article {
    margin-top: 20px;
}

article .conteudo-article h5 {
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    padding: 1%;
    color: white;
    text-transform: uppercase;
}

article .conteudo-article img{
    width: 100%;
    margin: 5px 0;
}

a.ler-mais {
    color: red;
    text-decoration: underline;
}



@media screen and (max-width: 999px) {
    #box-conteudo section article {
        width: 45%;
    }

    #box-conteudo {
        flex-direction: column-reverse;
    }

    #box-conteudo aside {
        width: 100%;
    }

    #box-conteudo aside div {
        margin: 0;
    }
    

    #box-conteudo section {
        width: 100%;
    }
}

@media screen and (max-width: 705px) {
    #box-conteudo section article {
        width: 100%;
    }
}