#box-conteudo {
    border: solid 1px rgb(0, 13, 255);
    display:flex;
    justify-content: center;
}

.container-title h3{
    background-color: #294c71;
    color: white;
    padding: 5px;
}

#box-conteudo aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#box-conteudo aside div.box-conteudo-aside {
    border: 1px solid red;
    margin: 15px;
}

div.box-conteudo-aside li {
    padding: 5px;
}

#box-conteudo section {
    width: 70%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#box-conteudo section article {
    border: 1px solid red;
    width: 40%;
    height: 45%;
    margin: 15px;
}