* {
    border: solid 1px red;
}

body {
    background: url("../img/fundo.png") repeat-x;
}


#Box-site{
    width: 70%;
    margin: 0 auto;
}

header {
    height: 230px;
}

nav#menu-principal a{
    display: inline-block;
}

